<header th:fragment="frag-header">
    <h1 id="nav-title">
        <a href="/">ENI-Enchères</a>
    </h1>
    <nav>
        <ul>
            <li><a href="">S'inscrire - Seconnecter</a></li>
            <li><a href="">Enchères</a></li>
            <li><a href="">Vendre un article</a></li>
            <li><a href="">Mon profil</a></li>
            <li><a href="">Deconnexion</a></li>
        </ul>
    </nav>
    <div class="navbar-toggle">
        <span>test</span>
        <span>test</span>
        <span>test</span>
    </div>
</header>