<header th:fragment="frag-header">
    <h1 id="nav-title">
        <a href="/">ENI - Enchères</a>
    </h1>
    <nav>   
        <ul>
            <li><a th:href="@{/login}">S'inscrire - Se connecter</a></li>
            <li><a th:href="@{/listes-articles}">Enchères</a></li>
            <li><a th:href="@{/vendre-article}">Vendre un article</a></li>
            <li><a th:href="@{/utilisateurs/afficher}">Mon profil</a></li>
<!--        <li><a th:href="@{/utilisateurs/afficher(noUtilisateur=${utilisateurSession.noUtilisateur})}">Mon profil</a></li> -->
            <li><a sec:authorize="hasRole('ADMIN')" th:href="@{/administrateur/liste}">Administrateur</a></li>           
            <li><a th:href="@{/logout}">Déconnexion</a></li>
        </ul>
    </nav>
    <div class="navbar-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>
