body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

/* li { */
/*     display: flex; */
/*     align-items: center; */
/* } */

/* input[type="checkbox"] { */
/* 	display: flex; */
/*     margin-right: 30px; */
/* } */

.checkbox {
	display: flex;	
	align-self: center;
}


label {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

form div {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"],
button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #555;
}

@media (max-width: 480px) {
    form {
        padding: 15px;
    }

    input[type="text"],
    input[type="password"],
    button {
        width: calc(100% - 10px);
    }
}

