main {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;    
}

.filtersFlex{
	max-width: 420px;
	display: flex;
	/*justify-content: start;*/
	justify-content: space-between;
	
}


.filter-container {
    margin-top: 20px;
}

.filters div {
    margin-bottom: 15px;
}


.boxEnsemble{
	 max-width: 500px;	
    /* margin: 10px 50px 20px 0;*/
}


.box300{
	max-width: 300px;	
}

label,
input {
    display: inline;
}


.bold{
	font-weight: bold;
}

input[type="text"],
select {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.categorie{
	   /*width:100%;*/
}


button.search-button {
    display: inline;
   /* padding: 5px 10px; */
    width:130px;
    height:50px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.search-button:hover {
    background-color: #0056b3;
}


fieldset {
	max-width: 400px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}


fieldset div {
    display: flex;
    align-items: center;
    gap: 10px;
}


.auction-item {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
	width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.auction-item .rectangle {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.auction-item div {
    display: flex;
    flex-direction: column;
}

.auction-item p {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #555;
}

.auction-item span {
    font-weight: bold;
    color: #333;
}
