<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/header-footer.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <title>ENI-Enchères</title>
</head>
<body>
  <div th:replace="~{/fragments/fragment-header :: frag-header}"></div>
    <main>
        <h1>Liste des enchères</h1>
        <div class="filter-container">
        
		 <form th:action="@{/home}" method="post" class="filters" th:object="${article}">
		    <div class="filtersFlex">
		        <div class="boxEnsemble">
		           	<div >
			            <label for="filtre" class="blod">Filtres :</label>
		   		        <input id="filtre"  name="filtre" type="text" placeholder="Rechercher">
		   		   	</div>
		   		   	<div >
		                <label for="categorie" class="blod">Catégorie :</label>
		              	<select id="categorie" name="categorie" class="box300">
		              	 		  <option value="0">Tous</option>
			                      <option 
				                      th:each="categorie : ${categories}" 
				                      th:value="${categorie.noCategorie}" 
				                      th:text="${categorie.libelle}">
			                      </option>
		                 </select> 	                               
		           	</div>
		      	</div>  
					
		            	<button class="search-button">Rechercher</button>
	 		 </div>
	     	
        
        
	        	<fieldset sec:authorize="isAuthenticated()">
	        	
		        	<div>
			            <div>
			                <input type="radio" id="achat" name="transactionType" value="achat" checked onchange="toggleCriteria()"/>
			                <label for="achat">Achat</label>
			            </div>
		            	<div>
		                	<input type="radio" id="ventes" name="transactionType" value="ventes" onchange="toggleCriteria()"/>
		                	<label for="ventes">Mes ventes</label>
		            	</div>
		          	
		           </div> 
		            
		           <div id="achatCriteria" class="criteria">
			                <input type="checkbox" id="encheresOuvertes" name="encheresOuverte" value="1" checked>
			                <label for="encheresOuverte">Enchères ouvertes</label><br>
			                <input type="checkbox" id="encheresEnCours" name="encheresEnCours" value="2">
			                <label for="encheresEnCours">Mes enchères en cours</label><br>
			                <input type="checkbox" id="encheresRemportees" name="encheresRemportees" value="4">
			                <label for="encheresRemportees">Mes enchères remportées</label><br>
		       	  </div>
		          <div id="ventesCriteria" class="criteria" style="display: none;">
		                <input type="checkbox" id="venteCours" name="venteCours" value="1">
		                <label for="venteCours">Mes ventes en cours</label><br>
		                <input type="checkbox" id="venteNonDebute" name="venteNonDebute" value="2">
		                <label for="venteNonDebute">Ventes non débutées</label><br>
		                <input type="checkbox" id="venteTerminees" name="venteTerminees" value="4">
		                <label for="venteTerminees">Ventes terminées</label><br>
		        </div>
	        </fieldset> 
	   </form>
	  
 	</div>


	     <div class="auction-item" th:each="article : ${articles}">
   
    		<div>
    		 <img class="rectangle" th:src="@{'images/articles/'+${article.noArticle}+'.jpg'}" alt="image produit" />
            </div>
             <div>	
                <p th:text="${article.nomArticle}">Fauteuil </p>
                <p>Prix : <span  th:text="${article.prixInitial}"> 310 </span> points </p>
                <p>Fin de l'enchère : <span th:text="${article.dateFinEnchere}">01/09/2018</span></p>
                <p>Vendeur : <span th:text="${article.vendeur.pseudo}">NineJae</span></p>   
    	    </div>
 		 </div>
    
    </main>
    

    <div th:replace="~{/fragments/fragment-footer :: frag-footer}"></div>

    <script>
        function toggleCriteria() {
            const achatCriteria = document.getElementById('achatCriteria');
            const ventesCriteria = document.getElementById('ventesCriteria');
            const isAchatChecked = document.getElementById('achat').checked;

            if (isAchatChecked) {
                achatCriteria.style.display = 'block';
                ventesCriteria.style.display = 'none';
            } else {
                achatCriteria.style.display = 'none';
                ventesCriteria.style.display = 'block';
            }
        }

        // Initialize criteria display based on the default selected radio button
        window.onload = toggleCriteria;
    </script>
</body>
</html>
