<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/header-footer.css}" />
	<link rel="stylesheet" th:href="@{/css/profil.css}" />
	<title>ENI-Enchères</title>
</head>
<body>
	<div th:replace="~{/fragments/fragment-header :: frag-header}"></div>
	<main>
		<form th:action="@{/utilisateurs/afficher}">
			<div class="form-row">
				<input type="hidden" name="noUtilisateur" data-th-value="${utilisateur.noUtilisateur}" />
				<label for="inputPseudo">Pseudo :</label>
				<input id="inputPseudo" type="text" th:value="${utilisateur.pseudo}" disabled="disabled" />

				<label for="inputPrenom">Nom :</label>
				<input id="inputPrenom" type="text" th:value="${utilisateur.prenom}" disabled="disabled" />
			</div>
			<div class="form-row">
				<label for="inputNom">Prénom :</label>
				<input id="inputNom" type="text" th:value="${utilisateur.nom}" disabled="disabled" />

				<label for="inputEmail">Email :</label>
				<input id="inputEmail" type="email" th:value="${utilisateur.email}" disabled="disabled" />
			</div>
			<div class="form-row">
				<label for="inputTelephone">Téléphone :</label>
				<input id="inputTelephone" type="text" th:value="${utilisateur.telephone}" disabled="disabled" />

				<label for="inputRue">Rue :</label>
				<input id="inputRue" type="text" th:value="${utilisateur.rue}" disabled="disabled" />
			</div>
			<div class="form-row">
				<label for="inputCp">Code postal :</label>
				<input id="inputCp" type="text" th:value="${utilisateur.codePostal}" disabled="disabled" />

				<label for="inputVille">Ville :</label>
				<input id="inputVille" type="text" th:value="${utilisateur.ville}" disabled="disabled" />
			</div>
			<div class="form-actions">
				<a th:href="@{/utilisateurs/modifier(noUtilisateur=${utilisateur.noUtilisateur})}">Modifier</a>
			</div>
		</form>
	</main>
	<div class="center" th:replace="~{/fragments/fragment-footer :: frag-footer}"></div>
</body>
</html>
