<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/header-footer.css" />
  <link rel="stylesheet" href="css/encher-detail.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <title>ENI-Enchères</title>
</head>
<body>
<div th:replace="~{/fragments/fragment-header :: frag-header}"></div>
<main>
  <h1>Détail vente</h1>
  <div>
    <div>
      <img th:src="@{'images/articles/'+${article.noArticle}+'.jpg'}" alt="image produit" />
    </div>
    <div>
      <h2 th:text="${article.nomArticle}">Nom de l'article</h2>

      <label for="description">Description</label>
      <input type="text" id="description" name="description" th:value="${article.description}" disabled/>

      <div class="dropdown">
        <label for="categorie">Catégorie :</label>
        <select id="categorie" name="categorie" disabled>
          <option th:value="${article.categorie.noCategorie}" th:text="${article.categorie.libelle}"></option>
        </select>
      </div>

      <label for="prixInitial">Mise à prix</label>
      <input type="number" id="prixInitial" name="prixInitial" th:value="${article.prixInitial}" disabled/>

      <label for="dateDebut">Debut de l'enchère</label>
      <input type="date" id="dateDebut" name="dateFin" th:value="${article.dateDebutEnchere}" disabled/>

      <label for="dateFin">Fin de l'enchère</label>
      <input type="date" id="dateFin" name="dateFin" th:value="${article.dateFinEnchere}" disabled/>

      <div>
        <label>Retrait</label>
        <input type="text" id="adresseRue" name="vendeur" th:value="${adresse.rue}" disabled/>
        <input type="text" id="adresseVille" name="vendeur" th:value="${adresse.ville}" disabled/>
        <input type="text" id="adresseCP" name="vendeur" th:value="${adresse.codePostal}" disabled/>
      </div>

      <label for="vendeur">Vendeur : </label>
      <a th:href="@{/utilisateurs/afficher(id=${article.vendeur.getNoUtilisateur()})}"><input type="text" id="vendeur" name="vendeur" th:value="${article.vendeur.nom}"/></a>


      <label for="meilleurOffre"> Meilleur offre : </label>
      <input type="number" id="meilleurOffre" name="meilleurOffre" th:value="${article.prixVente}" disabled/>
      <div class="proposition-container" th:if="${!button && !lastEnchereUser}">
        <form th:action="@{/encherir}" method="post">
          <input type="hidden" id="noArticleVendu" name="noArticleVendu" th:value="${article.noArticle}" />
          <label for="proposition">Ma proposition :</label>
          <input type="number" id="proposition" name="proposition" th:min="${article.prixVente + 1}" class="proposition-input" />
          <button type="submit">Enchérir</button>
        </form>
      </div>
      <div class="info">
        <div th:if="${lastEnchereUser}">
          <p>Vous avez l'offre la plus haute</p>
        </div>
        <div th:if="${button}">
          <p>Enchère terminée</p>
          <div th:if="${BoolVendeur}">
            <a id="retrait" th:href="@{/retrait/(noArticle=${article.noArticle})}" onclick=" return alertRetrait()"> Retrait</a>
           </div>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</main>
<div th:replace="~{/fragments/fragment-footer :: frag-footer}"></div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
  // Function to display a Toastr message
  function showToastr(message, type) {
    toastr[type](message, '', { timeOut: 5000 });
  }

  // Check if there is an error message from the server
  var errorMessage = /*[[${errorMessage}]]*/ '';
  if (errorMessage) {
    showToastr(errorMessage, 'error');
  }

  // Check if there is a success message from the server
  var successMessage = /*[[${successMessage}]]*/ '';
  if (successMessage) {
    showToastr(successMessage, 'success');
  }
  
  function alertRetrait() {
      return alert("l' objet a été retiré ");
  }
</script>


</body>
</html>
