
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/header-footer.css}" />
    <link rel="stylesheet" href="css/encher-creation.css" />
    <title>ENI-Enchères</title>
</head>
<body>
  <div th:replace="~{/fragments/fragment-header :: frag-header}"></div>

  <main>
    <div>
      <h1 class="center">Nouvelle vente</h1>
      <div class="content-container">
        <div class="flex-container">
          <div class="image-container">
            <img src="image/maison.jpg" alt="image_produit" />
          </div>
          <div class="form-container">
              <form th:action="@{/creer}" method="post" th:object="${article}">

                  <label for="nomArticle">Nom de l'article :</label>
                  <input id="nomArticle" name="nomArticle" type="text" th:field="*{nomArticle}" />

                  <label for="description">Description :</label>
                  <textarea id="description" name="description" rows="5" cols="33" th:field="*{description}"></textarea>

                  <label>Catégorie :</label>
                  <select id="categorie" th:field="*{categorie}">
                      <option th:each="categorie : ${categories}" th:value="${categorie.noCategorie}" th:text="${categorie.libelle}"></option>
                  </select>

                  <label for="prixInitial">Mise à prix :</label>
                  <input type="number" step="0.01" id="prixInitial" name="prixInitial" th:field="*{prixInitial}" />

                  <label for="prixVente">Prix de vente :</label>
                  <input type="number" step="0.01" id="prixVente" name="prixVente" th:field="*{prixVente}" />

                  <label for="dateDebutEnchere">Début de l'enchère :</label>
                  <input type="date" id="dateDebutEnchere" name="dateDebutEnchere" th:field="*{dateDebutEnchere}" />

                  <label for="dateFinEnchere">Fin de l'enchère :</label>
                  <input type="date" id="dateFinEnchere" name="dateFinEnchere" th:field="*{dateFinEnchere}" />

                  <fieldset>
                      <legend>Retrait</legend>
                      <label for="rue">Rue :</label>
                      <input type="text" id="rue" name="rue" />
                      <label for="codePostal">Code postal :</label>
                      <input type="number" id="codePostal" name="codePostal" />
                      <label for="ville">Ville :</label>
                      <input type="text" id="ville" name="ville" />
                  </fieldset>

                  <div>
                      <button type="submit">Enregistrer</button>
                      <button type="reset">Annuler</button>
                      <button type="button">Annuler la vente</button>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div th:replace="~{/fragments/fragment-footer :: frag-footer}"></div>
</body>
</html>
