<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/header-footer.css}" />
	<link rel="stylesheet" th:href="@{/css/profil.css}" />
	<title>ENI-Enchères</title>
</head>
<body>
	<div th:replace="~{/fragments/fragment-header :: frag-header}"></div>
	<main>

		<ul>
			<li>
				<a
					th:href="@{/administrateur/liste}"
					th:text="'Gestion des Utilisateurs'">
				</a>
			</li>
			<li>
				<a
					th:href="@{/administrateur/listeCategorie}"
					th:text="'Gestion des Catégrories'">
				</a>
			</li>
		</ul>



    </main>
	<div class="center" th:replace="~{/fragments/fragment-footer :: frag-footer}"></div>

</body>
</html>
