<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/header-footer.css" />
  <link rel="stylesheet" href="css/encher-detail.css" />
  <title>ENI-Enchères</title>
</head>
<body>
<div th:replace="~{/fragments/fragment-header :: frag-header}"></div>
<main>
  <h1>Détail vente</h1>
  <div>
    <div>
      <img src="image/maison.jpg" alt="image produit" />
    </div>
    <div>
      <p th:text="${article.nomArticle}">Nom de l'article</p>

      <label for="description">Description</label>
      <input type="text" id="description" name="description" th:value="${article.description}" disabled/>

      <div class="dropdown">
        <label for="categorie">Catégorie :</label>
        <select id="categorie" name="categorie" disabled>
          <option th:value="${article.categorie.noCategorie}" th:text="${article.categorie.libelle}"></option>
        </select>
      </div>

      <label for="prixInitial">Mise à prix</label>
      <input type="number" id="prixInitial" name="prixInitial" th:value="${article.prixInitial}" disabled/>

      <label for="dateDebut">Debut de l'enchère</label>
      <input type="date" id="dateDebut" name="dateFin" th:value="${article.dateDebutEnchere}" disabled/>

      <label for="dateFin">Fin de l'enchère</label>
      <input type="date" id="dateFin" name="dateFin" th:value="${article.dateFinEnchere}" disabled/>

      <div>
        <label>Retrait</label>
        <input type="text" id="adresseRue" name="vendeur" th:value="${adresse.rue}" disabled/>
        <input type="text" id="adresseVille" name="vendeur" th:value="${adresse.ville}" disabled/>
        <input type="text" id="adresseCP" name="vendeur" th:value="${adresse.codePostal}" disabled/>
      </div>

      <label for="vendeur">Vendeur : </label>
      <input type="text" id="vendeur" name="vendeur" th:value="${article.vendeur.nom}" disabled/>


      <label for="meilleurOffre"> Meilleur offre : </label>
      <input type="number" id="meilleurOffre" name="meilleurOffre" th:value="${article.prixVente}" disabled/>


      <label for="proposition">Ma proposition : </label>
      <input type="number" id="proposition" name="proposition" />
      <div>
        <button>Enchérir</button>
      </div>
    </div>
  </div>
</main>
<div th:replace="~{/fragments/fragment-footer :: frag-footer}"></div>

</body>
</html>
